/*
*
*/
html, body, form, fieldset, table {
    font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size:100%;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:120%;
}
h1 {
    color:#1C205B;
    font-size:200%;
    margin: 5px 5px 20px 10px;
}

h2 {
    border-bottom:1px solid;
    color:#BF1722;
    font-size:130%;
    line-height:1.25em;
    margin-bottom:5px;
    padding:3px 0pt;
}

h3, h4, h5, h6 {
    border-bottom:1px solid;
    color:#1C205B;
    font-size:100%;
    margin-bottom:0.75em;
    padding:1px;
}

h4 {
    border-bottom:medium none;
    color:#990000;
    font-weight:bold;
}
h5 {
    border-bottom:medium none;
    font-weight:bold;
}

body {
    font-size: 1em;
    line-height:1.7;
    padding-bottom:1em;
}
* {
    margin:0pt;
    padding:0pt;
}
p, pre {
    line-height: 125%;
    padding-bottom:1em;
    font-size: 100%
}

ol {
    margin: 0 0 10px 20px;
    padding: 0 0 0 0;
}
ol li {
    margin: 0 0 1px 20px;
    padding: 0 0 0 0;
}
.markup {
    color:#660000;
    font-family:"Courier New",Courier,monospace;
    font-size:115%;
}
.example {
    font-size: 80%;
    margin: 20px auto;
    padding: 10px 10px 10px 10px;
    width:80%;
    background-color:#F2F2FF;
    border:1px dashed #000099;
}

.outsetline {
/*    a:focus { */
    outline: red outset medium;
}
.nooutline {
    outline: hidden;
}
.gotFocusTest2a {
    outline: blue inset medium;
}

.looklikeanchor {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.keycap {
    background-color:#EAE9D7;
    border-color:#F5F8ED #A4A585 #A4A585 #EEEEEE;
    border-style:solid;
    border-width:2px;
    color:#000000;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:bold;
    padding:1px;
}

p.invis {display:none;}
p.correct {display:inline; color:green}
p.incorrect {display:inline; color:red}
p.higher {display:inline; color:red}
p.lower {display:inline; color:red}


.important, .tip, .note, .example, .remark, .highlights,
.toc, .qandaset, .abstract, .warning, .programlisting {
    margin:1em auto;
    padding:20px 1.5em;
    width:80%;
}

.note {
    background:transparent url(../images/note.gif) no-repeat scroll top left;
    border:1px dashed #990000;
    background-color: #FFFFC1;
    padding: 10px 0px 5px 20px;
}
.note p {
    line-height: 150%;
}
.note .title {
    display:block;
    font-size:1.25em;
    margin:10px 0pt 0pt 35px;
}

a span.outofsight {
  left: -2500px;
  position: absolute;
  width: 16px;
}