/*
*
*/
.keyboard { /* <span class="keyboard">&#160; Enter</span>*/
    background-attachment:         scroll;
    background-color:              #EEEEEE;
    background-image:              none;
    background-position:           0 0;
    background-repeat:             repeat;
    border-bottom-color:           #BBBBBB;
    border-bottom-style:           solid;
    border-bottom-width:           0.2em;
    border-left-color-ltr-source:  physical;
    border-left-color-rtl-source:  physical;
    border-left-color-value:       #DDDDDD;
    border-left-style-ltr-source:  physical;
    border-left-style-rtl-source:  physical;
    border-left-style-value:       solid;
    border-left-width-ltr-source:  physical;
    border-left-width-rtl-source:  physical;
    border-left-width-value:       0.2em;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value:      #BBBBBB;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value:      solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value:      0.2em;
    border-top-color:              #DDDDDD;
    border-top-style:              solid;
    border-top-width:              0.2em;
    font-size:                     0.8em;
    padding-bottom:                0.1em;
    padding-left:                  0.4em;
    padding-right:                 0.4em;
    padding-top:                   0.1em;
    white-space:                   nowrap;
}