/*
*
*/
#demo_menu {
    margin: 50px 0 0 50px;
    float: left;
}
#css_info {
    margin: 50px 0 0 50px;
    float: left;
}
.css_styles {
    margin: 0;
    position: relative;
    left: 50px;
    top: 0px;
}
.emp {
    font-weight: bold;
    color: #ff0000;
}

a.lnkAmexButton {
    color               : #408ADA;
    background-color    : #FFFFFF;
    font-size           : 12px;
    font-weight         : bold;
    text-decoration     : none;
    border              : 2px #216488 outset;
    padding             : 0.2em;
    margin              : 2px;
    /* IE HACK for Button Compatability */
    padding             : 0 .25em 0 .25em;
    width               : auto;
    overflow            : visible;
}
a:link.lnkAmexButton, a:visited.lnkAmexButton, a:active.lnkAmexButton {
    color               : #408ADA;
    background-color    : #FFFFFF;
}

a:hover.lnkAmexButton {
    color               : #408ADA;
    background-color    : #eeeeee;
    border              : 2px #216488 inset;
}

.nextPageBtn {
    position: absolute;
    top: 25px;
    left: 800px;
}
