
#nav, #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav {
    background: #20456a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em; 
    font-weight: bold;
    height: 2.286em; 
    line-height: 1.5em; 
    width: 960px;
}
#nav li {
    background: #20456a; 
    float: left;
    height: 2.286em; 
    margin: 0;
    padding: 0;
    position: relative;
}
#nav a {
    color: #c7d0d9;
    display: block;
    padding: 0.286em 30px 0.5em;    
    text-decoration: none;
}

#nav a:hover, #nav a:focus {
    color: #fff;
    text-decoration: underline;
}

#nav ul {
    background: #20456a;
    left: 0;
    font-size: 0.857em; 
    line-height: 1.5em; 
    position: absolute;
    top: 2.667em; 
    width: 180px;
}
#nav ul li {
    background: none; float: none; height: auto; width: 180px;
}
#nav ul a {
    background: none;
    padding: 0.083em 30px 0.25em; 
    width: 120px;
}
#nav ul ul {
    font-size: 1em;
}

#nav ul a:hover, #nav ul a:focus {
    background: #16314b;
}
#nav ul .hover > a {
    background: #16314b;
}

#nav ul ul {
    left: 180px;
    top: 0.5em; 
}

#nav ul, #nav :hover ul ul, #nav .hover ul ul {
    margin-left: -9999px;
}

#nav li:hover > ul, #nav li.hover > ul, #nav a:focus + ul, #nav ul ul, #nav .hover a:focus {
    margin-left: 0;
}
#nav ul a:focus	{
    margin-left: 9999px;
}